html {
    width: auto;
}

body {
    font-size: 16px;
    margin: 0 auto;
    background: #f7f7f7;
    overflow-x: visible;
    font-family: 'Gotham','Microsoft YaHei',"Open Sans","Helvetica Neue",Helvetica,Arial,'Microsoft YaHei',sans-serif;
}

a:link, :visited, :active {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    word-break: normal;
}

#title {
    font-size: 1rem;
    color: #ffffff;
    background-color: #000B43;
    padding: 1rem;
    margin-top: 3rem;
}

#title h1 {
    font-size: 22px;
    margin: 0;
    text-align: left;
}

#title img {
    width: 1rem;
    height: 1rem;
}

#title p {
    margin-bottom: 0;
}

a:hover {
    text-decoration: underline;
}

div#nav {
    height: 3rem;
    color: #2175bc;
    background-color: #000B43;
    display: block;
    margin: 0 auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

div#icon {
    display: block;
    float: left;
    width: 3rem;
    height: 3rem;
    text-align: center;
}

div#icon a {
    line-height: 3rem;
}

div#list {
    height: inherit;
}

.nav-list-item {
    height: 3rem;
    line-height: 3rem;
    list-style: none;
    margin-right: 0;
    margin-bottom: 0;
}

/*note: inline-block, block, inline 的区别*/
/*note: 盒模型 px 宽度计算公式，百分比宽度计算公式*/
/*note: css 固定头部导航条的制作*/
.nav-list {
    color: inherit;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: inherit;
    display: inline-block;
    text-align: center;
}

.nav-list li {
    display: block;
    float: left;
    height: 3rem;
    line-height: 3rem;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-list li a {
    text-decoration: none;
}

.nav-list li a:link {
    text-decoration: none;
    color: white;
}

.nav-list li a:visited {
    text-decoration: none;
    color: white;
}

.nav-list li a:active {
    text-decoration: none;
    color: white;
}

.container {
    width: 60%;
    margin: 0 17%;
}

div#title {
    padding: 1rem;
    margin-top: 3rem;
}

div#poster {
    height: 5rem;
    background-color: #000B43;
}

div#main {
    width: 60%;
    background: white;
    box-shadow: 0 0 8px #999;
    padding: 3%;
    overflow: auto;
    margin: 3% auto;
}

div#blog-info {
    background-color: #000B43;
    margin-top: 3rem;
    padding: 1rem;
    text-align: center;
}

div#blog-info h1 {
    font-size: 3rem;
    color: white;
    margin: 0;
    font-weight: 500;
}

div#blog-info h2 {
    font-size: 1rem;
    color: white;
    margin: 0;
    font-weight: 500;
}

div#icon img {
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.categoryUnit {
    padding-bottom: 1rem;
    border-bottom: 1px #333333 solid;
}

.categoryUnit:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.categoryTitle {
    color: #4183c4;
    font-weight: 500;
}

.categoryPostUnit {
    margin-left: 8rem;
    padding-left: 1rem;
    color: #333;
    border-left: 3px solid #666;
}

.categoryDate {
    display: inline-block;
    line-height: 1rem;
    margin-left: -8rem;
}

.categoryLink {
    padding-left: 1rem;
    margin-left: 1rem;
}

.categoryPostListItem {
    padding-left: 1rem;
}

.categoryPostListItem a {
    border-left: 1px solid #666;
    margin-left: 1rem;
    padding-left: 1rem
}

div#content {
}

a#user-name:link {
    text-decoration: none;
    color: #000;
}

a#user-name:visited {
    text-decoration: none;
    color: #000;
}

a#user-name:active {
    text-decoration: none;
    color: #000;
}

.post-item {
    margin: 2%;
    border-bottom: 1px solid #ccc;
}

.postLink:link {
    font-size: 1.5rem;
    text-decoration: none;
    color: #000B43;
    font-weight: bold;
}

.postLink:active {
    text-decoration: none;
    color: #000B43;
    font-weight: bold;
}

.postLink:visited {
    text-decoration: none;
    color: #000B43;
    font-weight: bold;
}

.post-item h5 {
    color: #868e96;
    margin: 0.5rem 0.5rem 0.5rem 0;
}

.post-item h3 {
    margin: 0.5rem;
    color: #2175bc;
}

.post-item .description {
    padding-left: 0.5rem;
    border-left: 3px solid #eb3f2f;
}

.post-item:last-child {
    border-bottom: none;
}

.date_and_category a {
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 1px solid #000;
    text-decoration: none;
    color: #000B43;
}

.date_and_category a:visited {
    text-decoration: none;
}

div#footer {
    color: #777;
    font-size: 0.8rem;
    padding: 1% 0;
    text-align: center;
    background-color: #000B43;
}

div#footer a {
    color: #777;
}

/* note: css 文档加载顺序 */
@media screen and (max-width: 768px) {
    body {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        border: none;
        background: none;
    }

    div#nav {
        height: 3rem;
        margin: 0 auto;
        position: fixed;
        z-index: 9999;
    }

    div#title p {
        font-size: 1rem;
    }

    div#nav .generated {
        display: none;
    }

    div#main {
        width: auto;
        background: white;
        box-shadow: none;
        padding: 2% 2% 2%;
        overflow: auto;
        margin: 3%;
    }

    .container {
        width: 100%;
        margin: 0 0;
    }

    .categoryTitle {
        font-size: 1.5rem;
    }

    .markdown-body h1 {
        padding-top: 0.3em;
        border-bottom: 1px solid #eeeeee;
    }

}

