

/*@media screen and (min-width: 360px) {*/
/*html {font-size: 28px;}*/
/*article {*/
/*margin: auto 15px auto 15px;*/
/*}*/
/*body {*/
/*width: 100%;*/
/*margin-left: 0;*/
/*margin-right: 0;*/
/*border: none;*/
/*}*/
/*}*/

/*@media screen and (min-width: 400px) {*/
/*html {font-size: 30px;}*/
/*article {*/
/*margin: auto 15px auto 15px;*/
/*}*/
/*body {*/
/*width: 100%;*/
/*margin-left: 0;*/
/*margin-right: 0;*/
/*border: none;*/
/*}*/
/*}*/

/*@media screen and (min-width: 440px) {*/
/*html {font-size: 32px;}*/
/*article {*/
/*margin: auto 15px auto 15px;*/
/*}*/
/*body {*/
/*width: 100%;*/
/*margin-left: 0;*/
/*margin-right: 0;*/
/*border: none;*/
/*}*/
/*}*/

/*@media screen and (min-width: 480px) {*/
/*html {font-size: 34px;}*/
/*article {*/
/*margin: auto 15px auto 15px;*/
/*}*/
/*body {*/
/*width: 100%;*/
/*margin-left: 0;*/
/*margin-right: 0;*/
/*border: none;*/
/*}*/
/*}*/

/*@media screen and (min-width: 640px) {*/
/*html {font-size: 28px;}*/
/*article {*/
/*margin: auto 15px auto 15px;*/
/*}*/
/*body {*/
/*width: 100%;*/
/*margin-left: 0;*/
/*margin-right: 0;*/
/*border: none;*/
/*}*/
/*}*/

/*@media screen and (min-width: 1080px) {*/
/*html {*/
/*font-size: 16px;*/
/*}*/
/*body {*/
/*margin: 5% auto;*/
/*width: 60%;*/
/*border: none;*/
/*border: 1px solid #ddd;*/
/*}*/
/*}*/
html {
    width: auto;
}

body {
    font-size: 16px;
    overflow-x: visible;
}

body {
    margin: 0 auto;
    background: url("../img/bg.gif") repeat;
}

a {
    text-decoration: none;
    color: #000;
}

#title {
    font-family: Arial, "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 20px;
    color: #ffffff;
    background-color: #2175bc;
    min-height: 80px;
    padding: 5%;
}

#title h1 {
    font-size: 22px;
    margin: 0;
    text-align: left;
}

#title img {
    width: 18px;
    height: 18px;
}

#title p {
    margin-bottom: 0;
}

a:hover {
    text-decoration: underline;
}

div#nav {
    height: 40px;
    color: #2175bc;
    display: block;
    margin: 0 auto;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 9999;
}

div#icon {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.nav-list-item {
    list-style: none;
    margin-right: 0;
}

/*note: inline-block, block, inline 的区别*/
/*note: 盒模型 px 宽度计算公式，百分比宽度计算公式*/
/*note: css 固定头部导航条的制作*/
.nav-list {
    color: inherit;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: inherit;
    display: inline-block;
    text-align: center;
}

.nav-list li {
    display: block;
    float: left;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-list li a {
    text-decoration: none;
}

.nav-list li:hover {
    background-color: #2586d7;
}

.nav-list li a:link {
    text-decoration: none;
    color: #333;
}

.nav-list li a:visited {
    text-decoration: none;
    color: #333;
}

.nav-list li a:active {
    text-decoration: none;
    color: #2175bc;
}

div#main {
    width: 60%;
    background: white;
    box-shadow: 0 0 8px #999;
    padding: 2% 2% 2%;
    overflow: auto;
    margin: 0 auto 3%;
}

div#blog-info {
    width: 50%;
    height: 100%;
    text-align: center;
    margin: 5% auto 0;
}

div#icon img {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

div#post-list {
}

div#content {
}

a#user-name:link {
    text-decoration: none;
    color: #000;
}

a#user-name:visited {
    text-decoration: none;
    color: #000;
}

a#user-name:active {
    text-decoration: none;
    color: #000;
}

.post-item {
    margin: 2%;
    border-bottom: 1px solid #ccc;
}

.postLink:link {
    font-size: 1.5rem;
    text-decoration: none;
    color: #2175bc;
    font-weight: bold;
}

.postLink:active {
    text-decoration: none;
    color: #2175bc;
    font-weight: bold;
}

.postLink:visited {
    text-decoration: none;
    color: #2175bc;
    font-weight: bold;
}

.post-item h5 {
    color: #868e96;
    margin: 0.5rem 0.5rem 0.5rem 0;
}

.post-item h3 {
    margin: 0.5rem;
    color: #2175bc;
}

.post-item .description {
    padding-left: 0.5rem;
    border-left: 3px solid #eb3f2f;
}

.post-item:last-child {
    border-bottom: none;
}

.date_and_category a {
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 1px solid #000;
    text-decoration: none;
    color: #2175bc;
}

.date_and_category a:visited {
    text-decoration: none;
}

div#footer {
    color: white;
    padding: 1% 0;
    text-align: center;
    background-color: #2175bc;
}

div#footer a {
    color: white;
}

/* note: css 文档加载顺序 */
@media screen and (max-width: 768px) {
    body {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        border: none;
        background: none;
    }

    div#nav {
        height: 40px;
        margin: 0 auto;
        position: relative;
        z-index: 9999;
    }

    div#nav .generated {
        display: none;
    }

    div#main {
        width: auto;
        background: white;
        box-shadow: none;
        padding: 2% 2% 2%;
        overflow: auto;
        margin: 3%;
    }

    .markdown-body h1 {
        padding-top: 0.3em;
        border-top: 2px solid #eeeeee;
        border-bottom: 2px solid #eeeeee;
    }

}

