<?xml version="1.0" encoding="UTF-8"?>
<config>
    <title>stormlin</title>
    <motto>Yet another full stack developer.</motto>
    <category>
        <category-item>
            <item-id>java</item-id>
            <item-text>Java</item-text>
        </category-item>
        <category-item>
            <item-id>c++</item-id>
            <item-text>C++</item-text>
        </category-item>
        <category-item>
            <item-id>javascript</item-id>
            <item-text>Javascript</item-text>
        </category-item>
    </category>
</config>