<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <link rel="SHORTCUT ICON" href="./img/icon.jpg">

    <title>文章内容</title>

    <link rel="stylesheet" href="css/deploy.min.css">

    <script src="js/jquery.min.js"></script>
    <script src="js/highlight.min.js"></script>
    <script src="js/custom.min.js"></script>

</head>

<body>

    {{nav}}

    <div class="title">
        <div class="container">
            <h1>{{title}}</h1>
            <p>日期：{{date}}</p>
            <div class="tags">标签：{{tag}}</div>
        </div>
    </div>

    <div class="container postContainer">
        <div class="leftCol">
            <div id="author">
                <div id="avatar">
                    <img src="./img/icon.jpg">
                </div>
                <div id="name">
                    <a href="./about.html" title="关于我">stormlin</a>
                </div>
                <div class="contactList">
                    <div class="contact">
                        <a href="https://github.com/K9A2" target="_blank">
                            <img src="./img/GitHub.png" alt="前往我的 GitHub" title="前往我的 GitHub">
                        </a>
                    </div>
                    <div class="contact">
                        <a href="http://blog.csdn.net/atmiao" target="_blank" title="前往我的 CSDN 博客">
                            <img src="./img/csdn.png" alt="前往我的 CSDN 博客">
                        </a>
                    </div>
                    <div class="contact">
                        <a href="mailto:lin-jinting@outlook.com" target="_blank" title="给我发一封邮件">
                            <img src="./img/mail.png" alt="给我发一封邮件">
                        </a>
                    </div>
                </div>
            </div>
            <div id="toc">
            </div>
        </div>
        <div class="rightCol">
            {{outdated}}
            <div id="main">
                <div id="content">
                    <article class="markdown-body">
                        {{markdown}}
                    </article>
                </div>
            </div>
        </div>
    </div>

    <div id='toTop' title="返回顶部">
        <div class="arrow"></div>
        <div class="stick"></div>
    </div>

    <script>
        // 用以去除写作 Markdown 文档中自然留下的一级标题
        var fileHeader = $("#content").find("h1");
        fileHeader.remove();

        // 生成文章目录
        getTOC();

        // 代码高亮
        hljs.initHighlightingOnLoad();
    </script>

    {{footer}}

</body>

</html>