<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="SHORTCUT ICON" href="./img/icon.jpg">

    <script src="js/jquery.min.js"></script>
    <script src="js/custom.js"></script>

    <style>
        @media only screen and (max-width: 1080px) {
            body {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
                border: none;
            }
        }
    </style>

    <link href="css/style.css" rel="stylesheet">
</head>

<body>

    {{nav}}

    <div style="background-color: #3f51b5;">
        <div id="blog-info" class="container">
            <h1>stormlin</h1>
            <h2>On the way to be perfect</h2>
        </div>
    </div>

    <div id="index" class="indexList container">
        {{postList}}
    </div>

    <div id='toTop' title="返回顶部">
        <div class="arrow"></div>
        <div class="stick"></div>
    </div>

    {{footer}}

</body>

</html>